.header {
    margin: auto;
    background: #77a6f7;
}

.margin--auto {
    margin: auto;
    padding: 0;
}

.header__welcome-greeting {
    width: 50%;
}

.header__welcome-greeting p {
    margin: 0;
}

nav {
    height: 60px;
    width: 50%;
}

.nav__options {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.nav--right {
    justify-content: flex-end;
}

.nav__options li {
    margin-right: 15px;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav__options li {
    list-style: none;
}

.nav__options a {
    color: #000;
    cursor: pointer;
}

.logout__btn {
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #000;
}

.logout__btn:hover {
    background: rgb(153, 153, 153);
    transition: background .2s;
}