.action__btn {
    margin-right: 15px;
}

.margin-top {
    margin-top: 20px;
}

.machine-type__dropdown {
    margin-bottom: 20px;
}

.form__input-field {
    margin-bottom: 15px;
}

.machines__table {
    width: 100%;
}
